/* MARK: 1080PX
 */
@media (max-width: 1080px) {
  /* body {
    background-color: red;
  } */

  .reserve-header {
    display: flex;

    width: 85%;
    height: 14vh;
    padding: 0 0;
    margin: 2vh 10vw 10vh 10vw;
  }

  .HETBUREAU-LOGO {
    z-index: 100;
    height: 100%;
    /* width: 50%; */
  }

  .HETBUREAU-LOGO img {
    height: 100%;
    width: auto;
  }

  .label:first-child {
    border-radius: 0px 100px 0px 0px;
  }

  .label {
    background-color: var(--bureau-zwart);
    color: var(--bureau-wit);

    /* height: 49.726px; */
    height: 20%;
    width: 200px;

    font-size: large;
    font-weight: bold;
  }

  .current {
    background-color: var(--bureau-orange);
    color: var(--bureau-wit);

    /* height: 74.589px; */
    height: 30%;
    width: 300px;

    font-size: 3.4em;
    font-weight: bold;
  }

  .current:last-child {
    transform: translate(-100px, 0);
    padding-left: 100px;
    width: 300px;
  }

  /* MARK: QR 
  */
  .qr {
    color: var(--bureau-wit);

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .qr p {
    background-color: var(--bureau-orange);
    font-size: 1em;
    font-weight: bold;
    height: fit-content;
    width: fit-content;
  }

  .qr-box {
    background-color: var(--bureau-orange);
    /* width: 100%; */
    aspect-ratio: 1/1;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .qr-box img {
    background-color: gray;

    height: calc(98% - 4px);
    aspect-ratio: 1/1;
    /* width: calc(98% - 4px); */
    /* aspect-ratio: 1/1; */
  }
}

/* MARK: 1920PX
 */
@media (min-width: 1920px) {
  /* body {
    background-color: blue;
  } */

  .reserve-header {
    display: flex;

    width: 90%;
    height: 20vh;
    padding: 0 0;
    margin: 2vh 5vw 5vh 5vw;
  }

  .HETBUREAU-LOGO {
    z-index: 100;
    height: 100%;
    /* width: 50%; */
  }

  .HETBUREAU-LOGO img {
    height: 100%;
    width: auto;
  }

  .time-date-info {
    margin-right: 48vw;
  }

  .label:first-child {
    border-radius: 0px 100px 0px 0px;
  }

  .label {
    background-color: var(--bureau-zwart);
    color: var(--bureau-wit);

    /* height: 49.726px; */
    height: 20%;
    width: 200px;

    font-size: large;
    font-weight: bold;
  }

  .current {
    background-color: var(--bureau-orange);
    color: var(--bureau-wit);

    /* height: 74.589px; */
    height: 30%;
    width: 290px;

    padding-left: 10px;

    font-size: 2.6em;
    font-weight: bold;
  }

  .current:last-child {
    transform: translate(-60px, 0);
    padding-left: 70px;
    width: 290px;
  }

  /* MARK: QR 
  */
  .qr {
    color: var(--bureau-wit);

    width: 100%;
    height: 230.41px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .qr p {
    background-color: var(--bureau-orange);
    font-size: 1em;
    font-weight: bold;
    height: fit-content;
    width: fit-content;
  }

  .qr-box {
    background-color: var(--bureau-orange);
    width: 100%;
    /* height: 90%; */
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .qr-box img {
    /* background-color: gray; */

    /* height: calc(96% - 4px); */
    aspect-ratio: 1/1;
    width: calc(98% - 4px);
  }
}

/* MARK: VANDAAG KALENDER 
*/
.reserve-vandaag {
  width: 80%;
  height: 35vh;
  padding: 0 0;
  margin: 2vh 10vw 0vh 10vw;
  /* background-color: rgb(125, 207, 84); */
}

.reserve-vandaag-tekst {
  width: 100%;
  height: 20%;
  background-color: var(--bureau-orange);
  border-radius: 100px 100px 0px 0px;
  font-family: "BUROTO", sans-serif;
  color: #ffffff;
  font-size: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
[class^="vandaag-div"] {
  background-color: #1d1c1a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "BUROTO", sans-serif;
  color: #ffffff;
  font-size: 1.7rem;
}

.vandaag-div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.vandaag-div2 {
  grid-area: 2 / 1 / 3 / 2;
}
.vandaag-div3 {
  grid-area: 3 / 1 / 4 / 2;
}
.vandaag-div4 {
  grid-area: 4 / 1 / 5 / 2;
}
.vandaag-div5 {
  grid-area: 5 / 1 / 6 / 2;
}
.vandaag-div6 {
  grid-area: 6 / 1 / 7 / 2;
}
.vandaag-div7 {
  grid-area: 1 / 2 / 2 / 3;
}
.vandaag-div8 {
  grid-area: 2 / 2 / 3 / 3;
}
.vandaag-div9 {
  grid-area: 3 / 2 / 4 / 3;
}
.vandaag-div10 {
  grid-area: 4 / 2 / 5 / 3;
}
.vandaag-div11 {
  grid-area: 5 / 2 / 6 / 3;
}
.vandaag-div12 {
  grid-area: 6 / 2 / 7 / 3;
}
.vandaag-div13 {
  grid-area: 1 / 3 / 2 / 4;
}
.vandaag-div14 {
  grid-area: 2 / 3 / 3 / 4;
}
.vandaag-div15 {
  grid-area: 3 / 3 / 4 / 4;
}
.vandaag-div16 {
  grid-area: 4 / 3 / 5 / 4;
}
.vandaag-div17 {
  grid-area: 5 / 3 / 6 / 4;
}
.vandaag-div18 {
  grid-area: 6 / 3 / 7 / 4;
}
.vandaag-div19 {
  grid-area: 1 / 4 / 2 / 5;
}
.vandaag-div20 {
  grid-area: 2 / 4 / 3 / 5;
}
.vandaag-div21 {
  grid-area: 3 / 4 / 4 / 5;
}
.vandaag-div22 {
  grid-area: 4 / 4 / 5 / 5;
}
.vandaag-div23 {
  grid-area: 5 / 4 / 6 / 5;
}
.vandaag-div24 {
  grid-area: 6 / 4 / 7 / 5;
}
.vandaag-div25 {
  grid-area: 1 / 5 / 2 / 6;
}
.vandaag-div26 {
  grid-area: 2 / 5 / 3 / 6;
}
.vandaag-div27 {
  grid-area: 3 / 5 / 4 / 6;
}
.vandaag-div28 {
  grid-area: 4 / 5 / 5 / 6;
}
.vandaag-div29 {
  grid-area: 5 / 5 / 6 / 6;
}
.vandaag-div30 {
  grid-area: 6 / 5 / 7 / 6;
}
.vandaag-div31 {
  grid-area: 1 / 6 / 2 / 7;
}
.vandaag-div32 {
  grid-area: 2 / 6 / 3 / 7;
}
.vandaag-div33 {
  grid-area: 3 / 6 / 4 / 7;
}
.vandaag-div34 {
  grid-area: 4 / 6 / 5 / 7;
}
.vandaag-div35 {
  grid-area: 5 / 6 / 6 / 7;
}
.vandaag-div36 {
  grid-area: 6 / 6 / 7 / 7;
}

/* MARK: PLUS KALENDER 
*/
.reserve-plus {
  width: 80%;
  height: 35vh;
  padding: 0 0;
  margin: 2vh 10vw 0vh 10vw;
}

.reserve-plus-tekst {
  width: 100%;
  height: 20%;
  background-color: var(--bureau-orange);
  border-radius: 100px 100px 0px 0px;
  font-family: "BUROTO", sans-serif;
  color: #ffffff;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

[class^="plus-div"] {
  background-color: #1d1c1a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "BUROTO", sans-serif;
  color: #ffffff;
  font-size: 1.7rem;
}

.plus-div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.plus-div2 {
  grid-area: 2 / 1 / 3 / 2;
}
.plus-div3 {
  grid-area: 3 / 1 / 4 / 2;
}
.plus-div4 {
  grid-area: 4 / 1 / 5 / 2;
}
.plus-div5 {
  grid-area: 5 / 1 / 6 / 2;
}
.plus-div6 {
  grid-area: 6 / 1 / 7 / 2;
}
.plus-div7 {
  grid-area: 1 / 2 / 2 / 3;
}
.plus-div8 {
  grid-area: 2 / 2 / 3 / 3;
}
.plus-div9 {
  grid-area: 3 / 2 / 4 / 3;
}
.plus-div10 {
  grid-area: 4 / 2 / 5 / 3;
}
.plus-div11 {
  grid-area: 5 / 2 / 6 / 3;
}
.plus-div12 {
  grid-area: 6 / 2 / 7 / 3;
}
.plus-div13 {
  grid-area: 1 / 3 / 2 / 4;
}
.plus-div14 {
  grid-area: 2 / 3 / 3 / 4;
}
.plus-div15 {
  grid-area: 3 / 3 / 4 / 4;
}
.plus-div16 {
  grid-area: 4 / 3 / 5 / 4;
}
.plus-div17 {
  grid-area: 5 / 3 / 6 / 4;
}
.plus-div18 {
  grid-area: 6 / 3 / 7 / 4;
}
.plus-div19 {
  grid-area: 1 / 4 / 2 / 5;
}
.plus-div20 {
  grid-area: 2 / 4 / 3 / 5;
}
.plus-div21 {
  grid-area: 3 / 4 / 4 / 5;
}
.plus-div22 {
  grid-area: 4 / 4 / 5 / 5;
}
.plus-div23 {
  grid-area: 5 / 4 / 6 / 5;
}
.plus-div24 {
  grid-area: 6 / 4 / 7 / 5;
}
.plus-div25 {
  grid-area: 1 / 5 / 2 / 6;
}
.plus-div26 {
  grid-area: 2 / 5 / 3 / 6;
}
.plus-div27 {
  grid-area: 3 / 5 / 4 / 6;
}
.plus-div28 {
  grid-area: 4 / 5 / 5 / 6;
}
.plus-div29 {
  grid-area: 5 / 5 / 6 / 6;
}
.plus-div30 {
  grid-area: 6 / 5 / 7 / 6;
}
.plus-div31 {
  grid-area: 1 / 6 / 2 / 7;
}
.plus-div32 {
  grid-area: 2 / 6 / 3 / 7;
}
.plus-div33 {
  grid-area: 3 / 6 / 4 / 7;
}
.plus-div34 {
  grid-area: 4 / 6 / 5 / 7;
}
.plus-div35 {
  grid-area: 5 / 6 / 6 / 7;
}
.plus-div36 {
  grid-area: 6 / 6 / 7 / 7;
}

/* MARK: BEIDE KALENDERS 
*/
.reserveringen {
  width: 100%;
  height: 80%;
  background-color: var(--bureau-orange);
}

/* GRID PATTERN */

.parent {
  display: grid;
  grid-template-columns: 12% 17% 17% 14% 23% 15.5%;
  grid-template-rows: 12% 17.1% 17.1% 17.1% 17.1% 17.1%;
  gap: 3px;
  width: 98.7%;
  height: 97.7%;
  margin-left: 0.5%;
  padding-top: 0.5%;
}

/* MARK: Rest CSS
*/
