/* MARK: header
*/

.header {
    height: 25vh;
    width: 100%;

    margin-bottom: 2vh;

    display: flex;
}

.header-logo {
    height: 20vh;
    aspect-ratio: 1/1;

    margin-top: 2.5vh;
    margin-inline: 5vw;
}

.header-logo img {
    width: 100%;
    /* height: 60vw; */
    aspect-ratio: 1/1;
}

.header-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: 40vw;
}

.header-text {
    color: var(--bureau-zwart);

    align-self: center;
    margin-left: 12vw;
    /* transform: translate(-50%); */

    font-size: 8vh;
}

.header-text-wrapper p {
    transform: translate(50%);

    font-size: 3vh;
}

/* MARK: Content
*/

table {
    width: 98vw;
    margin: 0 auto;
}

th, td {
    padding: 16px;
    font-size: 2vw;
    font-family: "BUROTO", sans-serif;
}

th {
    text-align: left;
}

th:nth-child(4), .th:nth-child(5), .th:nth-child(6) {
    text-align: center;
}

.table-item:nth-child(odd) {
    background-color: #d2d2d2;

}

.item-edit {
    background-color: var(--bureau-orange);
    color: var(--bureau-wit);

    width: 90px;

    border: none;
    border-radius: 5px;
    text-align: center;
    /* padding: 5px 10px; */
    cursor: pointer;
}

.item-delete {
    background-color: red;
    color: var(--bureau-wit);

    width: 120px;

    border: none;
    border-radius: 5px;
    text-align: center;
    /* padding: 5px 10px; */
    cursor: pointer;
}

.table-item td:nth-child(3) {
    width: 210px;
    text-align: center;
}

.table-item td:nth-child(4), .table-item td:nth-child(5), .table-item td:nth-child(6) {
    width: 90px;
    text-align: center;
}