/* MARK: header
*/

.header {
    height: 25vh;
    width: 100%;

    margin-bottom: 2vh;

    display: flex;
}

.header-logo {
    height: 20vh;
    aspect-ratio: 1/1;

    margin-top: 2.5vh;
    margin-inline: 5vw;
}

.header-logo img {
    width: 100%;
    /* height: 60vw; */
    aspect-ratio: 1/1;
}

.header-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: 40vw;
}

.header-text {
    color: var(--bureau-zwart);

    align-self: center;
    margin-left: 12vw;
    /* transform: translate(-50%); */

    font-size: 4vw;
}

.header-text-wrapper p {
    transform: translate(50%);

    font-size: 1.5vw;
}

/* MARK: Content
*/
/* MARK: Filter
*/

.filter-bar {
    background-color: var(--bureau-orange);
    height: 5vh;
    width: 93vw;
    margin: 0 auto;
    margin-bottom: 2vh;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding-right: 1vw;
}

input {
    border: none;
    border-radius: 5px 0 0 5px;
    height: 3vh;
}

/* MARK: Table
*/

table {
    /* height: 60vh; */
    width: 98vw;
    margin: 0 auto;
    /* display: block; */
    overflow-y: scroll;
}

th, td {
    padding:  8px;
    font-size: 2vw;
    font-family: "BUROTO", sans-serif;
}

th {
    text-align: left;
    
}

.table-item:nth-child(even) {
    background-color: #d2d2d2;
}

.item-edit {
    background-color: var(--bureau-orange);
    color: var(--bureau-wit);

    width: 90px;

    border: none;
    border-radius: 5px;
    text-align: center;
    /* padding: 5px 10px; */
    cursor: pointer;
}

.item-edit:hover {
    background-color: #f28517;
}

.item-delete {
    background-color: red;
    color: var(--bureau-wit);

    width: 120px;

    border: none;
    border-radius: 5px;
    text-align: center;
    /* padding: 5px 10px; */
    cursor: pointer;
}

.item-delete:hover {
    background-color: #df0202;
}

.table-item td:nth-child(3) {
    width: 210px;
    text-align: center;
}

.table-item td:nth-child(4), .table-item td:nth-child(5), .table-item td:nth-child(6) {
    width: 90px;
    text-align: center;
}

.table-item td:nth-child(8) {
    min-width: 300px;
    width: fit-content;
}