/* MARK: LOGO
*/

.logo {
    width: 60%;
    aspect-ratio: 1/1;
    margin-top: 5vw;
    margin-inline: 20%;
    margin-bottom: 10vw;
    /* height: 100%; */

    /* display: flex;
    justify-content: center; */
}

.logo img {
    width: 60vw;
    /* height: 60vw; */
    aspect-ratio: 1/1;
}

/* MARK: LOGIN
*/

.login {
    /* background-color: turquoise; */
    width: 100%;
    /* height: calc(100vh - 50vw); */
}

.input-field {
    width: calc(100% - 10vw);

    margin-inline: 5vw;

    border: none;
    border-bottom: gray 1px solid;
}