/* MARK: LOGO
*/

.logo {
    width: 60%;
    aspect-ratio: 1/1;
    margin-top: 5vw;
    margin-inline: 20%;
    margin-bottom: 10vw;
    /* height: 100%; */

    /* display: flex;
    justify-content: center; */
}

.logo img {
    width: 60vw;
    /* height: 60vw; */
    aspect-ratio: 1/1;
}

/* MARK: LOGIN
*/

.login {
    /* background-color: turquoise; */
    width: 100%;
    /* height: calc(100vh - 50vw); */
}

.input-field {
    width: calc(100% - 10vw);

    margin-inline: 5vw;
    margin-bottom: 15px;

    border: none;
    border-bottom: gray 1px solid;
    font-size: 5vw;
    padding: 8px 0;
}

.input-field:focus {
    outline: none;
    border-bottom-color: var(--bureau-orange);
}

.btn {
    background-color: var(--bureau-orange);
    color: var(--bureau-wit);

    height: 10vw;
    width: calc(100% - 20vw);

    margin-top: 5vw;
    margin-inline: 10vw;
    margin-bottom: 2vw;

    border: none;
    cursor: pointer;

    font-size: 6vw;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #cc6600;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 12px;
    border-radius: 4px;
    margin: 5vw;
    border: 1px solid #f5c6cb;
    font-size: 4vw;
    text-align: center;
}

p {
    color: gray;

    text-align: center;
    margin-bottom: 1vw;

    font-size: 5vw;
}

p a {
    color: var(--bureau-orange);
    font-weight: bold;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}