body {
    background-color: var(--bureau-orange);
}
.menu {
    height: 100vh;
    width: 60%;
    margin: auto;
    background-color: var(--bureau-orange);
}

.logo-container {
    width: 90%;
    height: 30vh;
    display: flex;
    justify-content: center;
    padding: 3% 10% 5% 0;
    align-items: center;
}

.logo {
    width: 80%;
    max-width: 300px;
    aspect-ratio: 1/1;
}

.student-number-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10%;
    height: 13vh;
    border-bottom: 4px solid white;
    width: 80%;
}

.student-number-container p {
    margin-right: 15%;
    color: var(--bureau-wit);
}

.student-number {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: clamp(2rem, 5vw, 5rem);
}

.student-number-text {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: clamp(1.3rem, 4vw, 3rem);
}

.menu-buttons {
    width: 100%;
    height: 12vh;
    margin: 10% 0;
    display: flex;
    flex-direction: column;
}

.menu-buttons a {
    text-decoration: none;
    color: var(--bureau-wit);
}

.menu-buttons p {
    font-size: clamp(1.5rem, 3vw, 3rem);
    color: var(--bureau-wit);
    margin-left: 8%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button-reserveringen,
.button-instellingen {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}

.button-reserveringen p::before,
.button-instellingen p::before {
    content: "•";
    margin-right: 3vw;
}