:root {
  --bureau-orange: #ff8f1c;
  --bureau-wit: #f4f4f4;
  --bureau-zwart: #000000;
}

* {
  margin: 0;
  padding: 0;
  font-family: "BUROTO", sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
}
.menu {
  background-color: var(--bureau-orange);
  width: 50%;
  height: 100%;
}
