/* MARK: header
*/

.header {
  height: 15vh;
  width: 100%;

  margin-bottom: 2vh;

  display: flex;
}

.header-logo {
  height: 10vh;
  aspect-ratio: 1/1;

  margin-top: 2.5vh;
  margin-inline: 5vw;
}

.header-logo img {
  width: 100%;
  /* height: 60vw; */
  aspect-ratio: 1/1;
}

.header-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-text {
  color: var(--bureau-zwart);

  align-self: center;
  margin-left: 20vw;
  /* transform: translate(-50%); */
}

.header-text-wrapper p {
  transform: translate(50%);
}

/*  MARK: RESERVE INFO
*/

.reserve-info {
  background-color: var(--bureau-orange);
  color: var(--bureau-wit);

  height: 26vw;
  width: 86vw;

  margin-inline: 5vw;
  padding: 2vw;
}

.reserve-info h2 {
  font-size: 7vw;
  font-weight: 700;
  margin-bottom: 7vw;
}

/*  MARK: FORM
*/

.form {
  width: 90vw;

  margin-top: 5vw;
  margin-inline: 5vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-field {
  width: calc(100vw - 10vw);
  height: 5vw;

  /* margin-top: 5vw; */
  /* margin-inline: 5vw; */
  margin-bottom: 10vw;

  border: none;
  border-bottom: gray 1px solid;

  font-size: 4vw;
}

.lokaal-select {
  /* border: 10px solid var(--bureau-orange); */
}

.submit-button {
  background-color: var(--bureau-orange);
  color: var(--bureau-wit);

  height: 10vw;
  width: 90vw;

  margin-inline: 5vw;

  font-size: 5vw;
  font-weight: bold;

  border: none;
  border-radius: 1vw;
}

p a {
  color: var(--bureau-orange);
  font-weight: bold;
  text-decoration: none;
}

/*  MARK: FORM VALIDATION
/* Validation */

.form-group {
  width: 100%;
  position: relative;
  margin-bottom: 10vw;
  margin-left: 20px;
}

.error-message {
  color: #ff3333;
  font-size: 3vw;
  position: absolute;
  bottom: -5vw;
  left: 0;
  width: 100%;
}

.input-field {
  margin-bottom: 0;
}

.input-field.error {
  border-bottom: 1px solid #ff3333;
}
