/* MARK: MAIN CSS 
*/
:root {
  --bureau-orange: #ff8f1c;
  --bureau-wit: #f4f4f4;
  --bureau-zwart: #000000;
}

@font-face {
  font-family: "BUROTO";
  src: url("../../assets/fonts/BUROTO/BurotoRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
/* MARK: HEADER 
*/
.reserve-header {
  width: 85%;
  height: 14vh;
  padding: 0 0;
  margin: 2vh 10vw 10vh 10vw;
  background-color: aqua;
}

/* MARK: VANDAAG KALENDER 
*/
.reserve-vandaag {
  width: 80%;
  height: 35vh;
  padding: 0 0;
  margin: 2vh 10vw 0vh 10vw;
  /* background-color: rgb(125, 207, 84); */
}

.reserve-vandaag-tekst {
  width: 100%;
  height: 20%;
  background-color: var(--bureau-orange);
  border-radius: 100px 100px 0px 0px;
  font-family: "BUROTO", sans-serif;
  color: #ffffff;
  font-size: 29rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
[class^="vandaag-div"] {
  background-color: #1d1c1a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "BUROTO", sans-serif;
  color: #ffffff;
  font-size: 7rem;
}

.vandaag-div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.vandaag-div2 {
  grid-area: 2 / 1 / 3 / 2;
}
.vandaag-div3 {
  grid-area: 3 / 1 / 4 / 2;
}
.vandaag-div4 {
  grid-area: 4 / 1 / 5 / 2;
}
.vandaag-div5 {
  grid-area: 5 / 1 / 6 / 2;
}
.vandaag-div6 {
  grid-area: 6 / 1 / 7 / 2;
}
.vandaag-div7 {
  grid-area: 1 / 2 / 2 / 3;
}
.vandaag-div8 {
  grid-area: 2 / 2 / 3 / 3;
}
.vandaag-div9 {
  grid-area: 3 / 2 / 4 / 3;
}
.vandaag-div10 {
  grid-area: 4 / 2 / 5 / 3;
}
.vandaag-div11 {
  grid-area: 5 / 2 / 6 / 3;
}
.vandaag-div12 {
  grid-area: 6 / 2 / 7 / 3;
}
.vandaag-div13 {
  grid-area: 1 / 3 / 2 / 4;
}
.vandaag-div14 {
  grid-area: 2 / 3 / 3 / 4;
}
.vandaag-div15 {
  grid-area: 3 / 3 / 4 / 4;
}
.vandaag-div16 {
  grid-area: 4 / 3 / 5 / 4;
}
.vandaag-div17 {
  grid-area: 5 / 3 / 6 / 4;
}
.vandaag-div18 {
  grid-area: 6 / 3 / 7 / 4;
}
.vandaag-div19 {
  grid-area: 1 / 4 / 2 / 5;
}
.vandaag-div20 {
  grid-area: 2 / 4 / 3 / 5;
}
.vandaag-div21 {
  grid-area: 3 / 4 / 4 / 5;
}
.vandaag-div22 {
  grid-area: 4 / 4 / 5 / 5;
}
.vandaag-div23 {
  grid-area: 5 / 4 / 6 / 5;
}
.vandaag-div24 {
  grid-area: 6 / 4 / 7 / 5;
}
.vandaag-div25 {
  grid-area: 1 / 5 / 2 / 6;
}
.vandaag-div26 {
  grid-area: 2 / 5 / 3 / 6;
}
.vandaag-div27 {
  grid-area: 3 / 5 / 4 / 6;
}
.vandaag-div28 {
  grid-area: 4 / 5 / 5 / 6;
}
.vandaag-div29 {
  grid-area: 5 / 5 / 6 / 6;
}
.vandaag-div30 {
  grid-area: 6 / 5 / 7 / 6;
}
.vandaag-div31 {
  grid-area: 1 / 6 / 2 / 7;
}
.vandaag-div32 {
  grid-area: 2 / 6 / 3 / 7;
}
.vandaag-div33 {
  grid-area: 3 / 6 / 4 / 7;
}
.vandaag-div34 {
  grid-area: 4 / 6 / 5 / 7;
}
.vandaag-div35 {
  grid-area: 5 / 6 / 6 / 7;
}
.vandaag-div36 {
  grid-area: 6 / 6 / 7 / 7;
}

/* MARK: PLUS KALENDER 
*/
.reserve-plus {
  width: 80%;
  height: 35vh;
  padding: 0 0;
  margin: 2vh 10vw 5vh 10vw;
}

.reserve-plus-tekst {
  width: 100%;
  height: 20%;
  background-color: var(--bureau-orange);
  border-radius: 100px 100px 0px 0px;
  font-family: "BUROTO", sans-serif;
  color: #ffffff;
  font-size: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

[class^="plus-div"] {
  background-color: #1d1c1a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "BUROTO", sans-serif;
  color: #ffffff;
  font-size: 7rem;
}

.plus-div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.plus-div2 {
  grid-area: 2 / 1 / 3 / 2;
}
.plus-div3 {
  grid-area: 3 / 1 / 4 / 2;
}
.plus-div4 {
  grid-area: 4 / 1 / 5 / 2;
}
.plus-div5 {
  grid-area: 5 / 1 / 6 / 2;
}
.plus-div6 {
  grid-area: 6 / 1 / 7 / 2;
}
.plus-div7 {
  grid-area: 1 / 2 / 2 / 3;
}
.plus-div8 {
  grid-area: 2 / 2 / 3 / 3;
}
.plus-div9 {
  grid-area: 3 / 2 / 4 / 3;
}
.plus-div10 {
  grid-area: 4 / 2 / 5 / 3;
}
.plus-div11 {
  grid-area: 5 / 2 / 6 / 3;
}
.plus-div12 {
  grid-area: 6 / 2 / 7 / 3;
}
.plus-div13 {
  grid-area: 1 / 3 / 2 / 4;
}
.plus-div14 {
  grid-area: 2 / 3 / 3 / 4;
}
.plus-div15 {
  grid-area: 3 / 3 / 4 / 4;
}
.plus-div16 {
  grid-area: 4 / 3 / 5 / 4;
}
.plus-div17 {
  grid-area: 5 / 3 / 6 / 4;
}
.plus-div18 {
  grid-area: 6 / 3 / 7 / 4;
}
.plus-div19 {
  grid-area: 1 / 4 / 2 / 5;
}
.plus-div20 {
  grid-area: 2 / 4 / 3 / 5;
}
.plus-div21 {
  grid-area: 3 / 4 / 4 / 5;
}
.plus-div22 {
  grid-area: 4 / 4 / 5 / 5;
}
.plus-div23 {
  grid-area: 5 / 4 / 6 / 5;
}
.plus-div24 {
  grid-area: 6 / 4 / 7 / 5;
}
.plus-div25 {
  grid-area: 1 / 5 / 2 / 6;
}
.plus-div26 {
  grid-area: 2 / 5 / 3 / 6;
}
.plus-div27 {
  grid-area: 3 / 5 / 4 / 6;
}
.plus-div28 {
  grid-area: 4 / 5 / 5 / 6;
}
.plus-div29 {
  grid-area: 5 / 5 / 6 / 6;
}
.plus-div30 {
  grid-area: 6 / 5 / 7 / 6;
}
.plus-div31 {
  grid-area: 1 / 6 / 2 / 7;
}
.plus-div32 {
  grid-area: 2 / 6 / 3 / 7;
}
.plus-div33 {
  grid-area: 3 / 6 / 4 / 7;
}
.plus-div34 {
  grid-area: 4 / 6 / 5 / 7;
}
.plus-div35 {
  grid-area: 5 / 6 / 6 / 7;
}
.plus-div36 {
  grid-area: 6 / 6 / 7 / 7;
}

/* MARK: BEIDE KALENDERS 
*/
.reserveringen {
  width: 100%;
  height: 80%;
  background-color: var(--bureau-orange);
}

/* GRID PATTERN */

.parent {
  display: grid;
  grid-template-columns: 12% 17% 17% 14% 23% 15.5%;
  grid-template-rows: 12% 17.1% 17.1% 17.1% 17.1% 17.1%;
  gap: 10px;
  width: 99%;
  height: 98%;
  margin-left: 0.5%;
  padding-top: 0.5%;
}

/* MARK: Rest CSS
*/
