/* MARK: header
*/

.header {
    height: 15vh;
    width: 100%;

    margin-bottom: 2vh;

    display: flex;
}

.header-logo {
    height: 10vh;
    aspect-ratio: 1/1;

    margin-top: 2.5vh;
    margin-inline: 5vw;
}

.header-logo img {
    width: 100%;
    /* height: 60vw; */
    aspect-ratio: 1/1;
}

.header-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.header-text {
    color: var(--bureau-zwart);

    align-self: center;
    margin-left: 40vw;
    transform: translate(-50%);
}



/*  MARK: Status
*/


/*  MARK: RESERVE INFO
*/

.status {
    background-color: var(--bureau-orange);
    color: var(--bureau-wit);

    height: 26vw;
    width: 86vw;

    margin-inline: 5vw;
    padding: 2vw;
}

.status h2 {
    font-size: 7vw;
    font-weight: 700;
    margin-bottom: 7vw;
}